hr {
  border-width: 1px;
  border-color: orange;
}

li.search{
  padding-left: 59%;
}

.carousel .item {
  height: 100%;
}

.carousel img {
  width: 100%;
}

.sanko{
  color: #777777;
}

.sns{
  text-align: center;
}

.history{
  text-align: center;
  list-style: none;
}

.kokoku{
  text-align: center;
}

img.kokoku1{
  margin: 10px;
  height: 50%;
  width: 50%;
}

.credit{
  text-align: center;
  margin: 3px;
}