hr {
  border-width: 1px;
  border-color: orange;
}

.carousel .item {
  height: 100%;
}

.carousel img {
  width: 100%;
}

.sanko{
  color: #777777;
}

.sns{
  text-align: center;
}

.history{
  text-align: center;
  list-style: none;
}

.kokoku{
  text-align: center;
}

img.kokoku1{
  margin: 10px;
}

img.kokoku2{
  margin: 10px;
}

img.kokoku3{
  margin: 10px;
}